*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background: url('../assets/background.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content h1{
    font-size: 80px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-content p{
    color: white;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 30px 0;
}

.main-content .start-btn{
    width: 120px;
    height: 40px;
    background: #c40094;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.main-content .start-btn:hover{
    background: #e983cf; 
    box-shadow: none;
}