*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background: url('../assets/background.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content h1{
    font-size: 80px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-content p{
    color: white;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 30px 0;
}

.main-content .start-btn{
    width: 120px;
    height: 40px;
    background: #c40094;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}

.main-content .start-btn:hover{
    background: #e983cf; 
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

.popup-info h2{
    font-size: 50px;
    color: #c40094;
}

.popup-info .info{
    display: inline-block;
    font-size: 16px;
    color: black;
    font-weight: 500px;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #c40094;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    background: #c40094;
    border: 2px solid #c40094;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) { 
    background: transparent;
    color: #c40094;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background:  #c40094;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background:  #950170;
    background-color: #950170;
}